[Unit]
Description="enjenv niseroku"
After=network-online.target

[Service]
Type=exec
ExecStart=/usr/bin/enjenv niseroku start
ExecStop=/usr/bin/enjenv niseroku stop
Restart=on-success
KillMode=process

[Install]
WantedBy=network-online.target
