#!/bin/bash

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

ports_http=80
enable_ssl=false
account_email=

if [ -f /etc/niseroku/niseroku.toml ]
then
    ports_http=$(\
                 cat /etc/niseroku/niseroku.toml \
                     | perl -e '$input=""; while (<>) { $input .= $_; }; if ($input =~ m!^\s*(?:ports\.|)http\s*=\s*(\d+)\s*!msg) { print "${1}\n"; } else { print "nil\n"; }' \
              )
    [ "${ports_http}" == "nil" ] && ports_http=80
    enable_ssl=$(\
                 cat /etc/niseroku/niseroku.toml \
                     | perl -e '$input=""; while (<>) { $input .= $_; }; if ($input =~ m!^\s*enable-ssl\s*=\s*(true|false)\s*!msg) { print "${1}\n"; } else { print "nil\n"; }' \
              )
    [ "${enable_ssl}" == "nil" ] && enable_ssl="false"
    account_email=$(\
                    cat /etc/niseroku/niseroku.toml \
                        | perl -e '$input=""; while (<>) { $input .= $_; }; if ($input =~ m!^\s*account-email\s*=\s*\"(.+?)\"\s*!msg) { print "${1}\n"; } else { print "nil\n"; }' \
                 )
    [ "${account_email}" == "nil" ] && account_email=
fi

echo "# checking ports.http setting..."
db_set enjenv-niseroku-proxy/ports_http "${ports_http}"
db_input critical enjenv-niseroku-proxy/ports_http || true
db_go


echo "# checking enable-ssl setting..."
db_set enjenv-niseroku-proxy/enable_ssl "${enable_ssl}"
db_input critical enjenv-niseroku-proxy/enable_ssl || true
db_go

db_get enjenv-niseroku-proxy/enable_ssl
if [ "${RET}" == "true" ]
then
        echo "# checking account-email setting..."
    db_set enjenv-niseroku-proxy/account_email "${account_email}"
    db_input critical enjenv-niseroku-proxy/account_email || true
    db_go
fi
