#!/bin/bash

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

ports_git=$(\
             cat /etc/niseroku/niseroku.toml \
                 | perl -e '$input=""; while (<>) { $input .= $_; }; if ($input =~ m!^\s*(?:ports\.|)git\s*=\s*(\d+)\s*!msg) { print "${1}\n"; } else { print "nil\n"; }' \
          )
[ "${ports_git}" == "nil" ] && ports_git=2403

db_set enjenv-niseroku-repos/ports_git "${ports_git}"
db_input critical enjenv-niseroku-repos/ports_git || true
db_go
